<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/Header') %>
    <meta property="og:image" content="/image/UI_BLACK.png" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="UI Visuals" />
    <meta
      name="description"
      content="UI Visuals is a community within the Herald DevCorps at Herald College Kathmandu. Established on August 10, 2019, our focus is on designing user interfaces and front-end designs. We aim to foster connections among designers and learners to enhance UI and Visual Design. Through our community, we develop leadership, design, communication, and teamwork skills, which we believe are essential for success in any field. We emphasize knowledge sharing and learning from each other, creating a friendly and supportive environment. We welcome individuals who share our passion for design and technology, and who are dedicated to improving their skills and contributing to our community."
    />
    <title>UI Visuals</title>
  </head>
  <body>
    <%- include('./components/Home') %> <%- include('./components/About') %> <%-
    include('./components/Event') %> <%- include('./components/Team') %> <%-
    include('./components/Testimonial') %> <%- include('./components/Contact')
    %>
  </body>
</html>
